.list-group-item:hover {
    background-color: #d0e7ff; 
    font-weight: bold;
}

.card-title a {
    color: black; 
    text-decoration: none; 
}   

.card:hover .card-title a {
    color: gray; 
    text-decoration: none;
}

.card {
    border: 1px solid #ddd;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
}